<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="container"> -->
  <nav class="navbar navbar-default">
    <!-- <div class="container-fluid"> -->
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['persons']">Persons Info</a>
        </div>
        <ul class="nav navbar-nav">
            <li [routerLinkActive]="['active']"><a [routerLink]="['persons']">PersonsList</a></li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['person']">Add Person</a></li>
        </ul>
    <!-- </div> -->
  </nav>
  <div class="container">
    <toaster-container [toasterconfig]="config1"></toaster-container>
    <router-outlet></router-outlet>    
  </div>
<!-- </div> -->

